#form
  <table width="346" height="300px" border="0" cellspacing="0" cellpadding="0">
  <tr>
  <td valign="middle"><a href="/"><img src="/images/forms/confirmations/confirm_vip.gif"></a></td>
  </tr>
  </table>