// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";
@import "compass/utilities/general/clearfix";

// GLOBAL STYLES //

body {
  background-image: url("/images/global/background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-color:#000000;
  color:#ffffff;
  font-family:"Tahoma", helvetica, arial;
  font-size:12px;
}

a {
  color:#ec008c;
  text-decoration: none;
}

a:hover {
  color:#ffffff;
};

#header {
  width:770px;
  height:170px;
  margin:20px auto 0px auto;
}

#logobox {
  width:170px;
  height:135px;
  margin: 0px auto;
}

#nav {
  width:770px;
  margin:0px auto;
  margin:0px auto;
}

#container {
  width:770px;
  margin:0px auto;
}

#footer {
  @include clearfix;
  width:1000px;
  padding-top: 3em;
  margin: 0 auto 0 auto;
  text-align: center;
  
  li {
    float:left;
    list-style:none;
    margin:0px 15px 0px 0px;
  }
}

#socialmedia_links {
  float: right;
}

// HOMEPAGE STYLES  //

#homepage_top img {
  margin:0px 15px 20px 0px;
}

#eventbanner {
  width:180px;
  height:185px;
  float:right;
}

#col_left {
  margin: 0px 10px 0px 0px;
  width:366px;
  float:left;
  line-height:25px;
  letter-spacing:.5px;
}

#col_right {
  margin: 0px 0px 0px 0px;
  width:364px;
  float:right;
}

#linkup {
  margin:30px 0px 0px 0px;
}

#quicklinks {
  margin:0px 0px 20px 0px;
}

#quicklinks img {
  margin:0px 0px 10px 0px;
}

#special_promos img{
  margin:0px 0px 10px 0px;
}

#eventbanner img{
  margin:0px -4px -4px 0px;
}


// EVENT PAGE STYLES  //

#event_slider {
  text-align:center;
  margin: 10px 0px 0px 0px;
  img {
    margin:0px 0px 10px 0px;
  }
}

#promo_container {
  width:660px;
  margin:0px auto;
}

#promo_container img{
  margin:0px 0px 13px 0px;
}

//  FORM STYLES  //

#form {
  width:346px;
  margin:30px auto 0px auto;
}

#form p{
  margin:0px 0px 20px 0px;
}