#form
  %img{ :src => "/images/forms/titlebars/titlebar_contactus.gif"}
  %img{ :src => "/images/forms/contact_infobox.gif"}
  %br
  %br
  <table width="346" height="300px" border="0" cellspacing="0" cellpadding="0">
  <tr>
  <td width="107" valign="middle"><b>Event</b></td>
  <td width="239" valign="middle"><select name="select" id="select">
  <option>Select An Event</option>
  </select></td>
  </tr>
  <tr>
  <td valign="middle"><b>First Name</b></td>
  <td valign="middle"><input type="text" name="textfield" id="textfield" /></td>
  </tr>
  <tr>
  <td valign="middle"><b>Last Name</b></td>
  <td valign="middle"><input type="text" name="textfield2" id="textfield2" /></td>
  </tr>
  <tr>
  <td valign="middle"><b>Phone</b></td>
  <td valign="middle"><input type="text" name="textfield3" id="textfield3" /></td>
  </tr>
  <tr>
  <td valign="middle"><b>Email</b></td>
  <td valign="middle"><input type="text" name="textfield4" id="textfield4" /></td>
  </tr>
  <tr>
  <td valign="middle"><b>Confirm Email</b></td>
  <td valign="middle"><input type="text" name="textfield5" id="textfield5" /></td>
  </tr>
  <tr>
  <td colspan="2" valign="middle"><img src="/images/forms/btn_submit.gif"</td>
  </tr>
  </table>