#event_slider
  %a{ :href => "http://www.rokvegaslv.com/reservations"}
    %img{ :src => "/images/events/featuredevents/nye_30.gif"}
  %a{ :href => "http://www.rokvegaslv.com/reservations"}
    %img{ :src => "/images/events/featuredevents/nye_31.gif"}
  %img{ :src => "/images/events/featuredevents/nye_pricing.gif"}
  %br
  %br
  %img{ :src => "/images/events/generic_vip.gif"}
#promo_container
  %img{ :src => "/images/events/generic_happyhour.gif"}