#event_slider
  %img{ :src => "/images/events/featuredevents/nye_30.gif"}
  %img{ :src => "/images/events/featuredevents/nye_31.gif"}
  %img{ :src => "/images/events/generic_vip.gif"}
#promo_container
  %img{ :src => "/images/events/promo_champagne.gif"}
  %img{ :src => "/images/events/promo_happyhour.gif"}