#event_slider
  %img{ :src => "/images/slider/event_images/default.jpg"}
#promo_container
  %img{ :src => "/images/events/promo_champagne.gif"}
  %img{ :src => "/images/events/promo_guys.gif"}
  %img{ :src => "/images/events/promo_happyhour.gif"}
  %img{ :src => "/images/events/promo_beer.gif"}