#form
  %img{ :src => "/images/forms/titlebars/titlebar_planyourparty.gif"}
  %p
    Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel ante a orci tempus eleifend ut et magna.
  <table width="346" height="300px" border="0" cellspacing="0" cellpadding="0">
  <tr>
  <td width="107" valign="middle"><b>Event</b></td>
  <td width="239" valign="middle"><select name="select" id="select">
  <option>Select An Event</option>
  </select></td>
  </tr>
  <tr>
  <td valign="middle"><b>First Name</b></td>
  <td valign="middle"><input type="text" name="textfield" id="textfield" /></td>
  </tr>
  <tr>
  <td valign="middle"><b>Last Name</b></td>
  <td valign="middle"><input type="text" name="textfield2" id="textfield2" /></td>
  </tr>
  <tr>
  <td valign="middle"><b>Phone</b></td>
  <td valign="middle"><input type="text" name="textfield3" id="textfield3" /></td>
  </tr>
  <tr>
  <td valign="middle"><b>Email</b></td>
  <td valign="middle"><input type="text" name="textfield4" id="textfield4" /></td>
  </tr>
  <tr>
  <td valign="middle"><b>Confirm Email</b></td>
  <td valign="middle"><input type="text" name="textfield5" id="textfield5" /></td>
  </tr>
  <tr>
  <td valign="middle"><b># of Guests</b></td>
  <td><select name="select" id="select">
  <option>Select # of Guests</option>
  <option>+1</option>
  <option>+2</option>
  <option>+3</option>
  <option>+4</option>
  <option>+5</option>
  
  </select></td>
  </tr>
  <tr>
  <td colspan="2" valign="middle"><img src="/images/forms/btn_submit.gif"</td>
  </tr>
  </table>